@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Anton&display=swap');

:root {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    --left-side: 40%;
    --right-side: calc(100% - var(--left-side));
    --header: 33%;
    --footer: 33%;
    --inputs: calc(100vh - calc(var(--header) + var(--footer)));
    color: rgba(255, 255, 255, 0.752);
    font-family: "Roboto", sans-serif, Arial, Helvetica;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    flex-flow: row wrap;
}

/* Left side */

.leftside {
    /* border: 2px solid rgb(8, 0, 255); */
    width: var(--left-side);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-image: url(images/neon_city3.jpeg); */
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.leftside>* {
    display: flex;
    justify-content: center;
}

.logo {
    /* border: 2px solid rgb(8, 0, 255); */
    width: 100%;
    height: 20%;
    transform: translateY(65%);
    background-color: rgb(0, 0, 0);
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

svg {
    scale: 0.7;
    background-color: rgba(255, 136, 0, 0.814);
    stroke: white;
}

.logo-text {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    color: rgb(254, 254, 254);
    letter-spacing: 3px;
}

.photo-rights {}


/* Right side */

.rightside {
    /* border: 2px solid rgb(26, 255, 0); */
    width: var(--right-side);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header {
    /* border: 2px solid rgb(0, 229, 255); */
    width: 100%;
    height: var(--header);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5%;
    padding-left: 5%;
    gap: 10%;
}

.header>* {
    width: clamp(45ch, 50%, 75ch);
    font-size: 1.15rem;
}

/* Form */

.box-top {
    border: 1px solid rgba(35, 35, 35, 0.296);
    height: 1px;
    width: 100%;
}

.call-to-action {
    font-weight: 1000;
    font-size: 1.5rem;
    color: rgb(176, 77, 7);
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.inputs {
    height: var(--inputs);
    width: 100%;
}

input,
label {
    display: block;
}

label {
    color: rgba(106, 106, 106, 0.609);
    font-size: .7rem;
}

input {
    width: clamp(10vw, 25vw, 40vw);
    background-color: black;
    border: 1px solid rgba(155, 101, 1, 0.476);
    color: orange;
    padding-left: 5px;
    height: 26px;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(255, 94, 0);
    height: 28px;
}

fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 7%;
}

fieldset>* {
    /* border: 3px solid red; */
    width: 100%;
    display: flex;
    gap: 5%;
    padding-left: 5%;
    font-size: 1rem;
}

button {
    background-color: black;
    border: 1px solid rgb(255, 166, 0);
    color: rgb(255, 167, 3);
    border-radius: 8px;
    padding: 10px 40px;
}

button:hover {
    background: rgb(167, 109, 1);
    color: white;
}

button:active {
    transform: translateY(2px);
}

/* Footer / call-to-action */

.bottom {
    padding-bottom: 1%;
}

.box-bottom {
    border: .5px solid rgba(250, 117, 1, 0);
    box-shadow: 0 10px 15px rgba(255, 119, 0, 0.846);
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    /* border: 2px solid rgb(200, 0, 255); */
    width: 100%;
    height: var(--footer);
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.778);
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: 1000;
}